@import url("https://fonts.googleapis.com/css2?family=Srisakdi:wght@400;700&family=Stalemate&display=swap");
 
* {
  outline: none;
}

html {
  color-scheme: dark light;
  font-size: 15px;
  background-color: #171516f2 !important;
}

body {
  background-color: #171516f2 !important;
  width: 100%;
  position: relative;
  /* height is broke the pagination for the website */
  /* height: 100vh; */
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #454545;
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Color of the scrollbar thumb on hover */
}

.navbar__container {
  padding: 30px 0px 9px 0px;
  background-color: rgb(26, 25, 26) !important;
  border-bottom: 1px solid #373737;
}

.navbar__container .navbar-brand {
  font-family: "Srisakdi", system-ui;
  font-weight: 700;
  font-style: normal;
}

.navbar__container a {
  color: white;
}

.profile__user {
  background-color: #171516f2;
  color: white;
  border: 1px solid #373737;
}

.card {
  background: #2d242466;
  margin-top: 30px;
  color: white;
  border: 1px solid #373737;
}

.container {
  padding-inline: calc(7vw + 1rem);
}

@media (max-width: 1000px) {
  .container {
    padding-inline: 1rem;
  }
}

@media (max-width: 1000px) {
  .nav__container {
    padding-inline: 0rem !important;
  }
}

image {
  background-size: cover;
  width: 100%;
}

#logout-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.category div {
  background-color: #938a8a;
  color: white;
  padding: 5px 10px;
  border-radius: 30px;
}

#liveAlertPlaceholder {
  max-width: 100%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10000000;
}

#icon__adding {
  color: #3f51b5;
  position: fixed;
  bottom: 130px;
  right: calc(7vw + 20px);
  z-index: 4;
  font-size: 3.7rem;
  cursor: pointer;
  transition: all 0.3s;
}

@media (max-width: 800px) {
  #icon__adding {
    font-size: 3rem;
    bottom: 100px;
  }
}

#icon__adding:hover {
  color: #acacac;
}

.info-user-nav img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
}

.pagination__bottom {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: center;
}

.pagination__bottom div {
  width: 10px;
  height: 10px;
  background-color: #acacac;
  border-radius: 50%;
  animation: 1s infinite linear animate;
}

.pagination__bottom div:nth-child(1) {
  animation-delay: -0.32s;
}

.pagination__bottom div:nth-child(2) {
  animation-delay: -0.16s;
}

.loader__container {
  padding: 60px 40px;
  top: 50vh;
  right: 50%;
  transform: translate(50%, -50%);
  border-radius: 20px;
  background: #b3c5cc87;
  overflow: hidden;
  position: fixed;
  z-index: -1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.loader__container div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
  background: black;
  animation: 1s infinite linear animate;
}

.loader__container div:nth-child(1) {
  animation-delay: -0.32s;
}

.loader__container div:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes animate {

  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

@keyframes animate {

  0%,
  80%,
  100% {
    transform: scale(1);
  }

  40% {
    transform: scale(0);
  }
}

.card-body {
  cursor: pointer;
}

.comment {
  transition: all 0.3s;
  transform: scale(0.95);
}

.comment:hover {
  transform: scale(1) translateX(20px);
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create__post__container__home input,
.create__post__container__home textarea {
  background: rgb(24, 26, 27) !important;
}

/* style for the user profile */
.profile-page .profile-header {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  border: 1px solid #2b2b2b;
  color: white;
}
.profile-page * a {
  color: white;
}

.profile-page .profile-header .cover {
  position: relative;
  border-radius: .25rem .25rem 0 0;
}


.profile-page .profile-header .cover figure {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover figure {
    height: 110px;
    overflow: hidden;
  }
}

@media (min-width: 2400px) {
  .profile-page .profile-header .cover figure {
    height: 180px;
    overflow: hidden;
  }
}

.profile-page .profile-header .cover figure img {
  border-radius: .25rem .25rem 0 0;
  width: 100%;
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover figure img {
    -webkit-transform: scale(2);
    transform: scale(2);
    margin-top: 15px;
  }
}

@media (min-width: 2400px) {
  .profile-page .profile-header .cover figure img {
    margin-top: -55px;
  }
}

.profile-page .profile-header .cover .gray-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%); */
}

.profile-page .profile-header .cover .cover-body {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 20px;
}

.profile-page .profile-header .cover .cover-body .profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

@media (max-width: 767px) {
  .profile-page .profile-header .cover .cover-body .profile-pic {
    width: 70px;
  }
}

.profile-page .profile-header .cover .cover-body .profile-name {
  font-size: 20px;
  font-weight: 600;
  margin-left: 17px;
}

.profile-page .profile-header .header-links {
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  /* background: #fff; */
  border-radius: 0 0 .25rem .25rem;
}

.profile-page .profile-header .header-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.profile-page .profile-header .header-links ul li a {
  color: white;
  margin-inline: 10px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.profile-page .profile-header .header-links ul li:hover,
.profile-page .profile-header .header-links ul li.active {
  color: #727cf5;
}

.profile-page .profile-header .header-links ul li:hover a,
.profile-page .profile-header .header-links ul li.active a {
  color: #727cf5;
}

.profile-page .profile-body .left-wrapper .social-links a {
  width: 30px;
  height: 30px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row {
  margin-right: 0;
  margin-left: 0;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div {
  padding-left: 3px;
  padding-right: 3px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div figure {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  margin-bottom: 6px;
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div figure:hover {
  -webkit-transform: scale(1.06);
  transform: scale(1.06);
}

.profile-page .profile-body .right-wrapper .latest-photos>.row>div figure img {
  border-radius: .25rem;
}

.rtl .profile-page .profile-header .cover .cover-body .profile-name {
  margin-left: 0;
  margin-right: 17px;
}

.img-xs {
  width: 37px;
  height: 37px;
}

.rounded-circle {
  border-radius: 50% !important;
}

img {
  vertical-align: middle;
  border-style: none;
}

.card-header:first-child {
  border-radius: 0 0 0 0;
}

.card-header {
  padding: 0.875rem 1.5rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2b2b2b;
}

.card-footer:last-child {
  border-radius: 0 0 0 0;
}

.card-footer {
  padding: 0.875rem 1.5rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #2b2b2b;
}

.grid-margin {
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}

.rounded {
  border-radius: 0.25rem !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  max-height: 800px;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  border: 1px solid #2b2b2b;
  border-radius: 0.25rem;
  display: block !important;
}
.text-muted {
  color: rgb(191, 191, 191) !important;
}
.card__image__post {
  width: 100% !important;
  height: 400px !important;
   object-fit: cover;
}

/* // style for the user profile // */
/* adding new update for the image cover in profile user*/
.image__cover {
  height: 300px !important; 
}
@media (max-width: 765px){
  .image__cover {
    height: 500px !important; 
  }
  .feather {
    margin-inline: 5px;
  }
}

/* for the icon for change the profile image*/
.icon__change__profile {
  position: absolute;
  bottom: 0;
  left: 20px;
  background-color: #000000a1;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
/* .modal-backdrop.show {
  display: none;
} */

.modal{
  overflow: auto !important;
}
.modal-open {
  overflow: scroll;
}